.dataList{
    position: relative;
    display: inline-block;
    padding-top: 34px;
    margin-top:3px;
    padding-left:3px;
    padding-right:3px;
}

.dataListButton{
    cursor: pointer;
}

.show{
    display:block;
}

.dataListContent {
    margin-top: 30px;
    background-color:#3C4621;
    display:none;
    width:100px;
    min-width: 75px;
    height: 150px;
    min-height: 150px;
    overflow: auto;
    z-index: -1;
    margin-right: 100px;
    position: absolute;
    box-shadow: 5px 8px 5px #111409;
}

.dataListContent a{
    display: inline-block;
    background-color:#3C4621;
    width:100%;
    min-width: 75px;
    height: 26px;
    color:gray;
    font-size: 10pt;
    padding: 12% .2%;
}

a:hover{
    background-color:gray;
}
